/* 기본 스타일 (모든 화면 크기에 적용) */
body {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 800px;
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top : 40px;
    margin-bottom: 40px;
}

.question {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-text {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    font-size: inherit;
}

.buttons {
    display: flex;
    flex-direction: row;
    /* 버튼 가로 정렬 */
    gap: 5px;
}

.buttons button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 15px 24px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 32px;
}

.buttons button:hover,
.buttons button:focus {
    background-color: #ddd;
}

.buttons button.selected {
    background-color: #4CAF50;
    color: white;
    border-color: #45a049;
}

.buttons button.selected.o-button {
    background-color: #4CAF50;
    color: white;
    border-color: #45a049;
}

.buttons button.selected.x-button {
    background-color: #dc3545;
    border-color: #dc3545;
}

#submitButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;
    margin-top : 30px;
    margin-bottom: 30px;
    font-size: 32px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    /* 결과 텍스트 가운데 정렬 */
}

#imageContainer {
    text-align: center;
    margin-top: 20px;
}

#resultImage {
    max-width: 100%;
    /* 이미지 최대 너비를 부모 요소 너비에 맞춤 */
    height: auto;
    /* 높이는 너비에 비례하여 자동 조절 */
}

/* 미디어 쿼리 (화면 크기가 768px 이하일 때 적용) */
@media (max-width: 768px) {
    body {
        padding: 5px;
        /* 작은 화면에서 패딩 추가 */
    }

    .question {
        flex-direction: column;
        /* 질문과 버튼을 세로로 배치 */
        align-items: stretch;
        /* 버튼 너비를 질문에 맞춤 */
    }

    .question-text {
        margin-right: 0;
        /* 질문 오른쪽 여백 제거 */
        margin-bottom: 10px;
        /* 질문 아래 여백 추가 */
    }

    .buttons {
        flex-direction: row;
        /* 버튼 가로 정렬 유지 */
        justify-content: center;
        /* 버튼 가운데 정렬 */
    }
}